label fritax
  menu label ^Demarrer Fritax Linux 1.0 (Nova)
  kernel __KERNEL_PATH__
  initrd __INITRD_PATH__
  append root=/dev/ram0 console=tty1 console=ttyS0,115200 quiet loglevel=3

label fritax-verbose
  menu label Demarrer ^Fritax Linux (messages detailles)
  kernel __KERNEL_PATH__
  initrd __INITRD_PATH__
  append root=/dev/ram0 console=tty1 console=ttyS0,115200

timeout 100
prompt 0
default fritax
